@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --lightGray: hsl(212, 45%, 89%);
  --grayishBlue: hsl(220, 15%, 55%);
  --darkBlue: hsl(218, 44%, 22%);
}

body {
	font-size:15px;
  display:flex;
  justify-content: center;
  align-items: center;
}